<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>magnifier</key>
			<dict>
				<key>centerUnitX</key>
				<real>0.5</real>
				<key>centerUnitY</key>
				<real>0.5</real>
				<key>circularDiameterUnit</key>
				<real>0.32</real>
				<key>isEnabled</key>
				<false/>
				<key>lensBorderColor</key>
				<string>#FFFFFF</string>
				<key>lensBorderWidthPoints</key>
				<real>4</real>
				<key>lensDropShadowColor</key>
				<string>#00000059</string>
				<key>lensDropShadowEnabled</key>
				<false/>
				<key>lensDropShadowRadiusPoints</key>
				<real>8</real>
				<key>lensDropShadowXOffsetPoints</key>
				<real>0</real>
				<key>lensDropShadowYOffsetPoints</key>
				<real>4</real>
				<key>lensShape</key>
				<string>circle</string>
				<key>rectCornerRadiusUnit</key>
				<real>0.12</real>
				<key>rectHeightUnit</key>
				<real>0.45</real>
				<key>rectWidthUnit</key>
				<real>0.5</real>
				<key>scaleFactor</key>
				<real>1.5</real>
				<key>snapPosition</key>
				<string>center</string>
			</dict>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Game Center rivals appear as markers with their avatars on cars. Beat their best score while you actually see them ahead of you.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Chase friends down the road</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Els rivals de Game Center surten com a marcadors amb avatar als cotxes. Supera la seua millor puntuació mentre els tens al davant.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Persegueix els amics per la carretera</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Los rivales de Game Center aparecen como marcadores con avatar en los coches. Supera su mejor marca mientras los ves delante.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Persigue a tus amigos en la carretera</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>fullTop</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>magnifier</key>
			<dict>
				<key>centerUnitX</key>
				<real>0.5</real>
				<key>centerUnitY</key>
				<real>0.5</real>
				<key>circularDiameterUnit</key>
				<real>0.32</real>
				<key>isEnabled</key>
				<false/>
				<key>lensBorderColor</key>
				<string>#FFFFFF</string>
				<key>lensBorderWidthPoints</key>
				<real>4</real>
				<key>lensDropShadowColor</key>
				<string>#00000059</string>
				<key>lensDropShadowEnabled</key>
				<false/>
				<key>lensDropShadowRadiusPoints</key>
				<real>8</real>
				<key>lensDropShadowXOffsetPoints</key>
				<real>0</real>
				<key>lensDropShadowYOffsetPoints</key>
				<real>4</real>
				<key>lensShape</key>
				<string>circle</string>
				<key>rectCornerRadiusUnit</key>
				<real>0.12</real>
				<key>rectHeightUnit</key>
				<real>0.45</real>
				<key>rectWidthUnit</key>
				<real>0.5</real>
				<key>scaleFactor</key>
				<real>1.5</real>
				<key>snapPosition</key>
				<string>center</string>
			</dict>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Unlock them by mastering different ways to drive, pushing farther in a single run, or racking up overtakes over time.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>New achievements to hunt</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Aconsegueix-los canviant com controles el cotxe, arribant més lluny en una sola partida o acumulant avançaments.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Nous assoliments per desbloquejar</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Consíguelos cambiando cómo conduces, llegando más lejos en una sola partida o acumulando adelantamientos.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Nuevos logros por desbloquear</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>overflowTop</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>magnifier</key>
			<dict>
				<key>centerUnitX</key>
				<real>0.5</real>
				<key>centerUnitY</key>
				<real>0.5</real>
				<key>circularDiameterUnit</key>
				<real>0.32</real>
				<key>isEnabled</key>
				<false/>
				<key>lensBorderColor</key>
				<string>#FFFFFF</string>
				<key>lensBorderWidthPoints</key>
				<real>4</real>
				<key>lensDropShadowColor</key>
				<string>#00000059</string>
				<key>lensDropShadowEnabled</key>
				<false/>
				<key>lensDropShadowRadiusPoints</key>
				<real>8</real>
				<key>lensDropShadowXOffsetPoints</key>
				<real>0</real>
				<key>lensDropShadowYOffsetPoints</key>
				<real>4</real>
				<key>lensShape</key>
				<string>circle</string>
				<key>rectCornerRadiusUnit</key>
				<real>0.12</real>
				<key>rectHeightUnit</key>
				<real>0.45</real>
				<key>rectWidthUnit</key>
				<real>0.5</real>
				<key>scaleFactor</key>
				<real>1.5</real>
				<key>snapPosition</key>
				<string>center</string>
			</dict>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<true/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>When a run ends, spot which friend is right above you on the leaderboard, and notice when you've overtaken someone for the first time.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Finish strong, see what's next</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Quan acaba la partida, identifica quin amic et queda just a sobre a la classificació i celebra quan avançes algú per primer cop.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Acaba fort i mira què ve després</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Al terminar una partida, localiza al amigo que va justo por delante en la clasificación y celebra cuando adelantas a alguien por primera vez.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Termina fuerte y mira qué pasa después</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>magnifier</key>
			<dict>
				<key>centerUnitX</key>
				<real>0.5</real>
				<key>centerUnitY</key>
				<real>0.5</real>
				<key>circularDiameterUnit</key>
				<real>0.32</real>
				<key>isEnabled</key>
				<false/>
				<key>lensBorderColor</key>
				<string>#FFFFFF</string>
				<key>lensBorderWidthPoints</key>
				<real>4</real>
				<key>lensDropShadowColor</key>
				<string>#00000059</string>
				<key>lensDropShadowEnabled</key>
				<false/>
				<key>lensDropShadowRadiusPoints</key>
				<real>8</real>
				<key>lensDropShadowXOffsetPoints</key>
				<real>0</real>
				<key>lensDropShadowYOffsetPoints</key>
				<real>4</real>
				<key>lensShape</key>
				<string>circle</string>
				<key>rectCornerRadiusUnit</key>
				<real>0.12</real>
				<key>rectHeightUnit</key>
				<real>0.45</real>
				<key>rectWidthUnit</key>
				<real>0.5</real>
				<key>scaleFactor</key>
				<real>1.5</real>
				<key>snapPosition</key>
				<string>center</string>
			</dict>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Post your final results screen or highlight an achievement, perfect for bragging rights on social feeds.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Share scores and achievements</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Publica la pantalla final o un assoliment nou. Ideal per presumir a les xarxes.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Comparteix puntuació i assoliments</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Publica tu pantalla de resultados o un logro recién conseguido. Ideal para presumir en redes.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Comparte puntuación y logros</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>magnifier</key>
			<dict>
				<key>centerUnitX</key>
				<real>0.5</real>
				<key>centerUnitY</key>
				<real>0.5</real>
				<key>circularDiameterUnit</key>
				<real>0.32</real>
				<key>isEnabled</key>
				<false/>
				<key>lensBorderColor</key>
				<string>#FFFFFF</string>
				<key>lensBorderWidthPoints</key>
				<real>4</real>
				<key>lensDropShadowColor</key>
				<string>#00000059</string>
				<key>lensDropShadowEnabled</key>
				<false/>
				<key>lensDropShadowRadiusPoints</key>
				<real>8</real>
				<key>lensDropShadowXOffsetPoints</key>
				<real>0</real>
				<key>lensDropShadowYOffsetPoints</key>
				<real>4</real>
				<key>lensShape</key>
				<string>circle</string>
				<key>rectCornerRadiusUnit</key>
				<real>0.12</real>
				<key>rectHeightUnit</key>
				<real>0.45</real>
				<key>rectWidthUnit</key>
				<real>0.5</real>
				<key>scaleFactor</key>
				<real>1.5</real>
				<key>snapPosition</key>
				<string>center</string>
			</dict>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Updated visuals make platform and speed quicker to scan so you spend less time deciphering and more time competing.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Leaderboards that read faster</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Iconografia renovada per distinguir d'un cop d'ull la plataforma i la velocitat.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Classificacions més clares</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Iconografía renovada para distinguir al momento la plataforma y la velocidad.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Clasificaciones más fáciles de leer</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
