<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Navigate your car, dodge rivals, and rack up overtakes in this retro-inspired arcade racer.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Race Through Endless Traffic</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Condueix el teu cotxe, esquiva rivals i acumula avançaments en este arcade de carreres d'inspiració retro.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Esquiva Trànsit Sense Fi</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Conduce tu coche, esquiva rivales y acumula adelantamientos en este arcade de carreras de inspiración retro.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Esquiva Tráfico Sin Fin</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>overflowTop</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>The speed climbs. One mistake ends your run. Chase your high score!</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>One Wrong Move. Game Over</string>
			</dict>
			<dict>
				<key>body</key>
				<string>La velocitat puja. Un error acaba la teua partida. Supera el teu rècord!</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Un Error. Game Over</string>
			</dict>
			<dict>
				<key>body</key>
				<string>La velocidad sube. Un fallo termina tu partida. ¡Supera tu récord!</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Un Error. Game Over</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Challenge friends, beat rivals, and prove you're the fastest on Game Center.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Climb the Leaderboard</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Desafia amics, supera rivals i demostra que ets el més ràpid a Game Center.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Escala el Tauler de Líders</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Desafía a tus amigos, vence a tus rivales y demuestra que eres el más rápido en Game Center.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Sube en la Clasificación</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>overflowTop</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Move left. Move right. Don't crash. Master the basics in seconds, spend hours chasing your high score.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Simple Controls. Pure Arcade Action</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Esquerra. Dreta. No xoques. Domina l'essencial en segons i passa hores perseguint el teu rècord.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Controls Simples. Acció Arcade Pura</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Izquierda. Derecha. No choques. Domina lo básico en segundos y pasa horas persiguiendo tu récord.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Controles Simples. Acción Arcade Pura</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFCC00</string>
			<key>devicePosition</key>
			<string>overflowTop</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0088FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFCC00</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>VoiceOver support, audio cues, haptics, and adaptable gameplay settings</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Built For Accessibility</string>
			</dict>
			<dict>
				<key>body</key>
				<string>VoiceOver, pistes d'àudio, hàptics i opcions de joc adaptables.
</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Dissenyat per a l'Accessibilitat</string>
			</dict>
			<dict>
				<key>body</key>
				<string>VoiceOver, pistas de audio, hápticos y ajustes de juego adaptables.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Diseñado para la Accesibilidad</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>trailingBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<true/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Adjust volume, choose haptic feedback, select your theme, and fine-tune controls. RetroRapid! adapts to your play style.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Customize Your Experience</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Ajusta el volum, tria la retroalimentació hàptica, selecciona el teu tema i afina els controls. RetroRapid! s'adapta al teu estil de joc.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Personalitza la Teua Experiència</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Ajusta el volumen, elige la respuesta háptica, selecciona tu tema y afina los controles. RetroRapid! se adapta a tu estilo de juego.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Personaliza Tu Experiencia</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>From classic pocket consoles green to lcd handheld games, customize your visual experience with iconic retro themes.</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Choose Your Retro Aesthetic</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Del verd de les consoles de butxaca clàssiques als jocs de mà LCD, personalitza la teua experiència visual amb temes retro icònics.</string>
				<key>language</key>
				<string>ca</string>
				<key>title</key>
				<string>Tria la Teua Estètica Retro</string>
			</dict>
			<dict>
				<key>body</key>
				<string>Del verde de las consolas de bolsillo clásicas a los juegos de mano LCD, personaliza tu experiencia visual con temas retro icónicos.</string>
				<key>language</key>
				<string>es-ES</string>
				<key>title</key>
				<string>Elige Tu Estética Retro</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
